body{
    font-family: 'Roboto', sans-serif;
}


.header_top{
    background-color: #2C3E50;
    height:80px;
    font-size:16px;
    line-height: 80px;
    font-weight: 900;
    text-transform: uppercase;
    color:white;
}

.header_top [class*="fa-bars"]{ 
    font-size:18px;
    border: 1px solid white;
    border-radius:2px;
    padding:5px 10px;
    color:grey;
}
.header_jumbotron{
    padding:80px 15px;
    text-align: center;
    color:white;
    background-color: #1ABC9C;
}
.header_jumbotron h1{
    text-transform: uppercase;
    font-size:60px;
    font-weight: 700;
}
.header_jumbotron img{
    margin-top:20px;
    height:250px;
}
.header_jumbotron hr{
    color: white;
    border-bottom:3px solid white;
}
.header_jumbotron h4{
    text-transform: uppercase;
    font-weight:500;
    font-size:25px;
    padding-top:5px;
}
.division{
    padding:10px 0;
    font-size:30px;
}
.header_top [class*="fa-star"]{   
    vertical-align: middle;
}
.division [class*="col-"]{
    padding:0;
}


#portfolio{
    text-align: center;
    color:#2C3E50;
    margin-bottom:50px;
}
#portfolio h2{
    padding-top:50px;
    text-transform: uppercase;
    font-size:50px;
    font-weight:700;
    
}
#portfolio img{
    width:100%;
    margin-top:30px;
    border-radius: 2%;
}
#portfolio hr{
    color:#2C3E50 ;
    border-bottom:3px solid #2C3E50;
}

#about{ 
    text-align: center;
    background-color: #1ABC9C;
    color:white;
    padding-bottom:50px;
}
#about hr{
    color: white;
    border-bottom:3px solid white;
}
.box-about{
    margin-top:50px;
    margin-bottom:50px;
}

.btn-white{
    font-size: 20px;
    border:1px solid white;
    border-radius: 5px;
    padding:15px 10px;
    text-decoration: none;
    color:white;
}
.btn-white:hover{
    text-decoration: none;
    background-color: #e0e5ec;
    color:black;
}

.btn-green{
    font-size:18px;
    color:white;
    border-radius: 5px;
    background-color: #1ABC9C;  
    padding:10px 20px;
}
.btn-green:hover{
    background-color:#369772;
    text-decoration: none;
    color: white;
}
#about h2{ 
    font-size:50px;
    font-weight: 700;
    text-transform: uppercase;
}
#about p{ 
    margin-top:10px;
    font-size:18px;
    text-align: left;
}
 
#contact{
    color:#2C3E50;
    padding-bottom:50px;
    text-align: left;
}
#contact h2{
    margin-top:50px;
    font-size:50px;
    font-weight:700;
    text-transform: uppercase;
    text-align: center;
}
#contact .division hr{
    color:#2C3E50 ;
    border-bottom:3px solid #2C3E50;
}
.box-contact{
    margin-top:30px;
    margin-bottom:20px;
}
::placeholder{
    font-size: 20px;
    color:#2C3E50;
}
#name,
#phone,
#email{
    padding:5px 0;
    height:25px;
    width:100%;
    border:none;
}
#message { 
    padding:5px;
    height:200px;
    width:100%;
}
.box-contact hr{
    border-bottom:1px solid #2C3E50;
}
.footer_link{
    padding:30px 0;
    text-align: center;
    background-color: #3A546D;
    color:white;
}
.footer_link h3{
    text-transform: uppercase;
}
.footer_link h4{
    line-height: 1.5;
    font-size: 22px;
}
.color-blugreen{
    color:#1ABC9C;
}
.color-blugreen:hover{
    color:#00ac69;
}
.footer_copyright{
    padding:30px 0;
    text-align: center;
    background-color: #2C3E50;
    color:white;
}
