body{
    font-family: 'Roboto', sans-serif;
}

/*header*/

 /* .header_top{
    height:80px;
    
}  */
/*navbar*/
.ms_navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #2C3E50;
    color:white;
    margin-bottom: 0; 
}
.ms_navbar .navbar-brand {
    height: 70px;
}
.ms_navbar a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.ms_navbar .navbar-brand {
    line-height: 40px;
    font-size:18px;
    font-weight: 900;
}
.ms_navbar .navbar-toggle .icon-bar {
    width: 24px;
    height: 3px;
    background-color: grey;   
}
/* .ms_navbar .active > a {
    vertical-align: middle;
    border-radius: 2%;
    background-color: #1ABC9C ;
    color: white;
    text-decoration: none;
} */
.ms_navbar .navbar-toggle{
    border-color:white;
}

.ms_navbar .navbar-nav>li>a {
    line-height: 40px;
} 
.ms_navbar .nav>li>a:hover {
    background-color:#2C3E50 ;
    color: #1ABC9C;
    text-decoration: none;
}
.ms_navbar .navbar-nav>li {
    vertical-align: middle;
    height: 70px;
    line-height: 70px;
} 

.ms_navbar .navbar-toggle {
    margin-top: 16.5px;
    margin-bottom: 16.5px;
}
/*jumbotron*/
.header_jumbotron{
    padding:80px 15px;
    text-align: center;
    color:white;
    background-color: #1ABC9C;
}
.header_jumbotron h1{
    text-transform: uppercase;
    font-size:60px;
    font-weight: 700;
}
.header_jumbotron img{
    margin-top:20px;
    height:250px;
}
.header_jumbotron hr{
    color: white;
    border-bottom:3px solid white;
}
.header_jumbotron h4{
    text-transform: uppercase;
    font-weight:500;
    font-size:25px;
    padding-top:5px;
}

/*decorazioe */
.division{
    padding:10px 0;
    font-size:30px;
}
.header_top [class*="fa-star"]{   
    vertical-align: middle;
}
.division [class*="col-"]{
    padding:0;
}

/*sezione portfolio*/

#portfolio{
    text-align: center;
    color:#2C3E50;
    margin-bottom:50px;
}
#portfolio h2{
    padding-top:50px;
    text-transform: uppercase;
    font-size:50px;
    font-weight:700;
    
}
#portfolio img{
    width:100%;
    margin-top:30px;
    border-radius: 2%;
}
#portfolio hr{
    color:#2C3E50 ;
    border-bottom:3px solid #2C3E50;
}

/*sezione about*/
#about{ 
    text-align: center;
    background-color: #1ABC9C;
    color:white;
    padding-bottom:50px;
}
#about hr{
    color: white;
    border-bottom:3px solid white;
}
.box-about{
    margin-top:50px;
    margin-bottom:50px;
}
#about h2{ 
    font-size:50px;
    font-weight: 700;
    text-transform: uppercase;
}
#about p{ 
    margin-top:10px;
    font-size:18px;
    text-align: left;
}
 
/*bottone bianco*/
.btn-white{
    font-size: 20px;
    border:1px solid white;
    border-radius: 5px;
    padding:15px 10px;
    text-decoration: none;
    color:white;
}
.btn-white:hover{
    text-decoration: none;
    background-color: #e0e5ec;
    color:black;
}
/*sezione contact*/
#contact{
    color:#2C3E50;
    padding-bottom:50px;
    text-align: left;
}
#contact h2{
    margin-top:50px;
    font-size:50px;
    font-weight:700;
    text-transform: uppercase;
    text-align: center;
}
#contact .division hr{
    color:#2C3E50 ;
    border-bottom:3px solid #2C3E50;
}
.box-contact{
    margin-top:30px;
    margin-bottom:20px;
}
/*bottone verde*/
.btn-green{
    font-size:18px;
    color:white;
    border-radius: 5px;
    background-color: #1ABC9C;  
    padding:10px 20px;
}
.btn-green:hover{
    background-color:#369772;
    text-decoration: none;
    color: white;
}
/*input text*/
::placeholder{
    font-size: 20px;
    color:#2C3E50;
}
#name,
#phone,
#email{
    padding:5px 0;
    height:25px;
    width:100%;
    border:none;
}
#message { 
    border:none;
    border-bottom: 1px solid grey;
    padding:5px;
    height:200px;
    width:100%;
}


/*footer*/


.footer_link{
    padding:30px 0;
    text-align: center;
    background-color: #3A546D;
    color:white;
}
.footer_link h3{
    text-transform: uppercase;
}
.footer_link h4{
    line-height: 1.5;
    font-size: 22px;
}
.social{  
    width:90%;
    margin:0 auto;
} 
.social a{
    line-height:40px; 
    padding:10px;
    border:1px solid white;
    border-radius:50%;
    color:white;
}
.social [class*="col-"]{
    padding:0;
}
.social a >i{
    vertical-align: middle;
    font-size:18px;
}
.social a:hover{
    background-color: white;
    color:black;
}

.color-blugreen{
    color:#1ABC9C;
}
.color-blugreen:hover{
    color:#00ac69;
}
.footer_copyright{
    padding:30px 0;
    text-align: center;
    background-color: #2C3E50;
    color:white;
}
